* {
    font-family: Georgia;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: default;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

#container, #board > button {
    background: #eeeeee;
}

#container {
    height: 100vh;
    display: grid;
}

#header {
    margin-bottom: 6px;
    background: #dddddd;
}

#title {
    color: #222222;
    text-align: center;
}

#playersDiv {
    justify-self: center;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#player1, #player2 {
    display: grid;
}

.playerRecord {
    font-style: italic;
}

#board {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .4em;
    background: #333333;
}

#board > button {
    min-width: 80px; min-height: 80px;
}

#board > button:hover {
    filter: contrast(90%);
}

.active {
    pointer-events: auto;
}

.inactive {
    pointer-events: none;
}

.gameOverDiv {
    display: grid;
    justify-items: center;
    align-self: flex-start;
    /* animation: fadeIn ease-in 0.4s; */
}

/* @keyframes fadeIn {
    0% {
      opacity:0;

    }
    100% {
      opacity:1;
    }
  } */

.gameOverBtn {
    border-radius: 6%;
    background: #222222;
    color: #dddddd;
}

/* MINMAX() CANDIDATES

#title {
    font-size: ;
    padding: ;
}
.player > h2, .player > p {
    font-size: ;
}
#player1, #player2 {
    font-size: ;
    padding: ;
}
.playerName {
    font-size: ;
}
.playerLevel {
    font-size: ;
}
.playerRecord {
    font-size: ;
}
#board > button {
    font-size: ;
    width: ; height: ;
}
.gameOverText {
        font-size: ;
        margin-bottom: ;
}
.gameOverBtn {
    font-size: ;
    padding: ;
    width: ;
    height: ;
}
*/

@media only screen and (min-width: 320px) {
    #container {
        grid-template-rows: auto 1fr auto 1fr;
        grid-template-areas:
            "header"
            "players"
            "board"
            "gameOver";
    }
    #header {
        padding: 12px 0;
        box-shadow: 0 -5px 10px black;
    }
    #title {
        font-size: 1.25em;
    }
    #playersDiv {
        grid-area: players;
    }
    #player1, #player2 {
        font-size: 1em;
    }
    .playerName {
        font-size: 1.4em;
    }
    .playerLevel {
        margin-bottom: 6px;
        font-size: 0.9em;
    }
    .playerRecord {
        font-size: 0.8em;
    }
    #board {
        grid-area: board;
        grid-gap: .25em;
    }
    #board > button {
        font-size: 1.56em;
    }
    .gameOverDiv {
        align-self: center;
        font-size: 1em;
    }
    .gameOverText {
        font-size: 1.5em;
        margin-bottom: 12px;
    }
    .gameOverBtn {
        font-size: 1em;
        padding: 8px 12px;
    }
}

@media only screen and (min-width: 375px) {
    #player1, #player2 {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 425px) {
    #player1, #player2 {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 768px) {
    #container {
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    #header {
        grid-column: 1/3;
    }
    #title {
        font-size: 1.8em;
    }
    #playersDiv {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #player1, #player2 {
        font-size: 0.9em;
    }
    .playerName {
        font-size: 2em;
    }
    .playerLevel {
        margin-bottom: 6px;
        font-size: 1.25em;
    }
    .playerRecord {
        font-size: 1em;
    }
    #board {
        grid-column: 1/2;
        grid-row: 2/4;
        grid-gap: 5px;
    }
    #board > button {
        font-size: 2em;
        width: 14vw; height: 14vw;
    }
    .gameOverDiv {
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: flex-start;
        font-size: 1em;
    }
    .gameOverText {
        font-size: 1.8em;
        margin-bottom: 18px;
    }
    .gameOverBtn {
        font-size: 1em;
        padding: 8px 12px;
    }
}

@media only screen and (min-width: 1024px) {
    #header {
        padding: 16px 0;
        box-shadow: 0 -5px 15px black;
    }
    #title {
        font-size: 2em;
    }
    #player1, #player2 {
        font-size: 1.2em;
    }
    #board {
        grid-gap: 6px;
    }
    #board > button {
        font-size: 2.4em;
    }
    .gameOverDiv {
        font-size: 1.25em;
    }
}

@media only screen and (min-width: 1440px) {
    #header {
        padding: 20px 0;
    }
    #title {
        font-size: 2.6em;
    }
    #player1, #player2 {
        font-size: 1.56em;
    }
    #board {
        grid-gap: 8px;
    }
    #board > button {
        font-size: 3.4em;
        width: 13vw; height: 13vw;
    }
    .gameOverDiv {
        font-size: 1.8em;
    }
    .gameOverText {
        margin-bottom: 30px;
    }
    .gameOverBtn {
        font-size: 1.1em;
        padding: 12px 18px;
    }
}

@media only screen and (min-width: 2560px) {
    #header {
        padding: 24px 0;
        box-shadow: 0 -5px 20px black;
    }
    #title {
        font-size: 6em;
    }
    #player1, #player2 {
        font-size: 2.8em;
    }
    #board {
        grid-gap: 12px;
    }
    #board > button {
        font-size: 6em;
        width: 14vw; height: 14vw;
    }
    .gameOverDiv {
        font-size: 3.2em;
    }
    .gameOverText {
        margin-bottom: 72px;
    }
    .gameOverBtn {
        padding: 24px 54px;
    }
}
